@mixin cardContent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
}

@mixin cardImgCasino {
  min-height: 250px;
  max-height: 280px;
}

@mixin cardImgHotel {
  min-height: 315px;
  max-height: 350px;
}

@mixin cardItemList {
  background-color: $bg-color4;
  margin-bottom: 0.2rem !important;
}

@mixin cardItemListLi {
  background-color: $bg-color4;
  color: $color-font3;
  font-size: 1rem;
}

@mixin cardItemListLiSpan {
  background-color: $bg-color4 !important;
  color: $color-font2;
}

@mixin cardRow {
  background-color: $bg-color4;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}

@mixin paddingCero {
  padding-left: 0px !important;
  padding-right: 0px !important;
}