$bg-color: #ec0000;
$bg-color2: #200b33;
$bg-color3: #453a4f;
$bg-color4: #fff;
$bg-color5: rgba(0,0,0,0.6);
$color-font1: #fff;
$color-font2: #000;
$color-font3: #ec0000;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);