@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  background-color: #ec0000;
  color: #fff; }

.bodyCol {
  padding-right: 0 !important; }

.bodyContainer {
  padding-left: 0px !important;
  padding-right: 0px !important; }

.cardButton {
  background-color: #200b33 !important; }

.cardButton > a {
  background-color: transparent !important;
  text-decoration: none;
  color: #fff !important;
  font-weight: bold;
  padding: 30px; }

.cardButtonFormula1 {
  background-color: #ec0000 !important; }

.cardButtonFormula1 > a {
  background-color: transparent !important;
  text-decoration: none;
  color: #fff !important;
  font-weight: bold;
  padding: 30px; }

.cardContainer {
  padding-left: 0px !important;
  padding-right: 0px !important;
  border: none !important;
  height: auto;
  width: 100%; }

.cardColumnCasino {
  background-color: #fff !important; }

.cardColumnCasinoItemBody {
  background-color: #fff; }

.cardColumnCasinoItemDescription {
  background-color: #fff !important;
  color: #000;
  text-align: justify;
  margin-bottom: 0.2rem !important;  }

.cardColumnCasinoItemList {
  background-color: #fff;
  margin-bottom: 0.2rem !important; }

.cardColumnCasinoItemList > li {
  background-color: #fff;
  color: #ec0000;
  font-size: 1rem; }

.cardColumnCasinoItemList > li > span {
  background-color: #fff !important;
  color: #000; }

.cardColumnCasinoItemListTragamonedas {
  background-color: #fff;
  margin-bottom: 0.2rem !important;
  margin-bottom: 0 !important; }

.cardColumnCasinoItemListTragamonedas > li {
  background-color: #fff;
  color: #ec0000;
  font-size: 1rem; }

.cardColumnCasinoItemListTragamonedas > li > span {
  background-color: #fff !important;
  color: #000; }

.cardColumnCasinoItemSubTitle {
  background-color: #fff;
  color: #ec0000;
  font-size: 1rem;
  margin-bottom: 0.5rem !important; }

.cardColumnCasinoItemTitle {
  background-color: #fff;
  color: #000;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center !important;
  margin-bottom: 0.5rem !important; }

.cardColumnHotel {
  background-image: url("./../assets/images/hotel/hotel.jpg") !important; }

.cardColumnHotelItemDescription {
  background-color: transparent !important;
  color: #fff;
  text-align: justify;
  font-size: 1rem;
  margin-bottom: 0.75rem !important; }

.cardColumnHotelItemBody {
  background-color: transparent !important;
  padding: 35px !important; }

.cardColumnHotelItemSubTitle {
  background-color: transparent !important;
  color: #fff;
  font-weight: bold;
  font-size: 1.15rem; }

.cardColumnHotelItemTitle {
  background-color: transparent !important;
  color: #fff;
  font-weight: bold;
  text-align: center !important;
  font-size: 1.75rem; }

.cardColumnPromocion {
  background-color: #fff !important; }

.cardColumnPromocionItemBody {
  background-color: transparent !important;
  padding: 35px !important; }

.cardColumnPromocionItemButton {
  background-color: transparent !important;
  text-align: center; }

.cardColumnPromocionItemSubTitle {
  background-color: transparent !important;
  color: #000;
  font-size: 1rem; }

.cardColumnPromocionItemTitle {
  background-color: transparent !important;
  color: #000;
  text-align: center !important;
  font-weight: bold;
  font-size: 2.5rem; }

.cardContainerHotel {
  background-color: transparent !important;
  height: auto;
  width: 100%;
  border: none !important; }

.cardContainerColumn {
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: #fff; }

.cardContainerPromocion {
  background-color: transparent !important;
  height: auto;
  width: 100%;
  border: none !important; }

.footer {
  background-color: transparent !important;
  background-image: url("./../assets/images/footer/footer.jpg");
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px; }

.footerCovid {
  background-color: #fff;
  color: #000;
  padding: 40px; }

.footerCovidTitle {
  background-color: transparent;
  color: #000;
  font-weight: bold; }

.footerDiseñador {
  background-color: transparent !important;
  padding-top: 5px;
  text-align: center; }

.footerDiseñadorDesa {
  background-color: transparent !important; }

.footerDiseñadorNombre {
  background-color: transparent !important;
  font-weight: bold;
  text-decoration: none;
  color: #000; }

.footerImgContainer {
  background-color: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px; }

.footerImgLogo {
  background-color: transparent !important;
  height: 6em;
  width: 70%; }

.footerRow {
  background-color: transparent !important; }

.footerTextoAvisoCovid {
  background-color: transparent !important;
  padding-left: 0 !important;
  padding-right: 0 !important; }

.footerTextoInfo {
  background-color: transparent !important;
  display: flex;
  flex-direction: column;
  align-items: center; }

.footerTextoInfoCorporation {
  background-color: transparent !important; }

.footerTextoInfoDerechos {
  background-color: transparent !important; }

.footerTextoInfoTitle {
  background-color: transparent !important;
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px; }

.header_banner {
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  height: 300px;
  background-image: url("./../assets/images/banner/banner_header.jpg"); }

.header_bannerCasino {
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  height: 300px;
  background-image: url("./../assets/images/banner/banner_headerCasino.jpg"); }

.header_bannerHotel {
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  height: 300px;
  background-image: url("./../assets/images/banner/banner_headerHotel.jpg"); }

.header_bannerPromociones {
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  height: 300px;
  background-image: url("./../assets/images/banner/banner_promociones.jpg"); }

.headerColumnCasino {
  background-color: #fff;
  color: #000;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 80px !important; }

.headerColumnCasinoTitle {
  background-color: #fff;
  color: #000;
  font-weight: bold;
  font-size: 2rem;
  text-align: center; }

.headerColumnCasinoSubTitle {
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  text-align: justify; }

.headerColumnLeft {
  background-color: #200b33;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.headerColumnLeft > h5 {
  color: #ec0000;
  font-weight: bold; }

.headerColumnLeftItem {
  background-color: transparent; }

.headerColumnLeftItemTitle {
  font-size: 1.5rem; }

.headerColumnLeftItemSubTitle {
  font-size: 2rem; }

.headerColumnLeftItemDescription {
  font-size: 1rem; }

.row > .headerColumnRight {
  padding-left: 0;
  padding-right: 0; }

.headerColumnPromocion {
  background-color: #fff;
  color: #000;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 80px !important; }

.headerColumnPromocionTitle {
  background-color: #fff;
  color: #000;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  font-size: 2.5rem; }

.headerColumnPromocionSubTitle {
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  text-align: justify;
  font-size: 1.5rem;
  text-align: center; }

.headerColumnPromocionDescription {
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  text-align: justify; }

.headerNavResponsive {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: inherit; }

.headerNavResponsiveInvertido {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding: inherit; }

.headerNavResponsiveBorder {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 2px solid #fff;
  padding: 10px; }

.headerNavResponsiveImgIcon {
  width: 35px;
  height: 35px;
  margin-right: 10px; }

.headerNavResponsiveImgIconInvertido {
  width: 35px;
  height: 35px;
  margin-left: 10px; }

.headerNavResponsiveImgIcon {
  background-color: transparent; }

.headerNavResponsiveImgText {
  font-size: 1.75rem;
  text-decoration: none;
  color: #fff; }

.header_widget {
  padding-left: 0px !important;
  padding-right: 0px !important; }

.mainCardContent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end; }

.mainCardImgCasino {
  min-height: 250px;
  max-height: 280px; }

.mainCardImgHotel {
  min-height: 315px;
  max-height: 350px; }

.mainCardImgFondo {
  background-color: transparent !important; }

.mainCardContentButton {
  background-color: #ec0000 !important;
  font-weight: bold !important;
  width: fit-content;
  align-self: center;
  padding: 7.5px 30px; }

.mainCardContentDescription {
  background-color: rgba(0, 0, 0, 0.75);
  font-size: smaller;
  text-align: justify;
  padding: 10px; }

.mainCardContentTitle {
  -webkit-text-stroke: #000 black;
  background-color: transparent;
  font-size: x-large;
  font-weight: bold;
  display: flex;
  justify-content: center; }

nav {
  max-height: 90px; }

.navImgLogo {
  height: 4.5rem;
  width: 100%;
  padding: 20px; }

.navBgColor {
  background-color: #200b33; }

.navTransparent {
  background-color: transparent; }

.navbar-brand,
.nav-link {
  color: #fff !important; }

.navbar-toggler {
  background-color: #453a4f !important; }

@media screen and (max-width: 350px) {
  .cardPromocionImg {
    height: 200px; } }

@media screen and (max-width: 450px) {
  .cardPromocionImg {
    height: 250px; } }

@media screen and (max-width: 576px) {
  .cardPromocionImg {
    height: 300px; } }

@media screen and (min-width: 576px) {
  .container {
    max-width: 100% !important; }
  .cardPromocionImg {
    height: 350px; }
  .footerDiseñador {
    padding-top: 10px; }
  .footerImgContainer {
    padding-top: 10px; }
  .footerImgLogo {
    height: 5em;
    width: 50%; }
  .footerTextoInfoTitle {
    padding-left: 40px;
    padding-right: 40px; }
  .header_bannerCasino {
    background-position-y: 25%; }
  .headerNavResponsiveBorder {
    height: 100%;
    justify-content: space-between; }
  .headerColumnLeft {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .headerColumnLeftItemTitle {
    font-size: 1.1rem; }
  .headerColumnLeftItemSubTitle {
    font-size: 1.5rem; }
  .headerColumnLeftItemDescription {
    font-size: 0.9rem; }
  .mainCardContentTitle {
    font-size: xx-large; }
  .mainCardImgCasino {
    max-height: 375px; }
  .mainCardImgHotel {
    max-height: 375px; } }

@media screen and (min-width: 768px) {
  .cardColumnHotelLeft {
    padding-right: 0 !important; }
  .cardColumnHotelCenter {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .cardColumnHotelRight {
    padding-left: 0 !important; }
  .cardColumnImgHotel {
    width: 100%;
    min-height: 150px; }
  .cardPromocionImg {
    height: 300px; }
  .footerDiseñador {
    padding-top: 15px; }
  .footerImgContainer {
    padding-top: 15px; }
  .footerImgLogo {
    height: 4.5em;
    width: 40%; }
  .header_bannerCasino {
    background-position-y: 15%; }
  .headerColumns {
    flex-direction: column;
    align-items: stretch; }
  .headerNavResponsiveBorder {
    flex-direction: row;
    justify-content: space-between; }
  .headerNavResponsiveInvertido {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: inherit; }
  .headerNavResponsiveImgIcon {
    width: 4rem;
    height: auto;
    margin-right: 5px; }
  .headerNavResponsiveImgIconInvertido {
    width: 4rem;
    height: auto;
    margin-right: 5px; }
  .headerNavResponsiveImgText {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff; }
  .headerColumnLeft {
    display: flex;
    flex-direction: column;
    padding: 20px; }
  .headerColumnLeftItemTitle {
    font-size: 2rem;
    margin-bottom: 0;
    margin-left: 10px; }
  .headerColumnLeftItemSubTitle {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    margin: 10px 0; }
  .headerColumnLeftItemDescription {
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end; }
  .mainCardContentDescription {
    font-size: medium; }
  .mainCardImgCasino {
    max-height: 450px; }
  .mainCardImgHotel {
    max-height: 450px; } }

@media screen and (min-width: 992px) {
  .cardContainer {
    background-color: #fff !important; }
  .cardRow {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    padding-top: 20px !important; }
  .cardRow2 {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    padding-top: 30px !important;
    padding-bottom: 30px !important; }
  .cardRowPromocion {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch; }
  .cardCasino {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .cardColumnHotelLeft {
    padding-left: 0 !important; }
  .cardColumnHotelRight {
    padding-right: 0 !important; }
  .cardColumnImgHotel {
    min-height: 175px; }
  .cardHotel {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .footerCovid {
    text-align: justify; }
  .footerImgContainer {
    display: flex;
    flex-direction: row; }
  .footerImgLogo {
    height: auto;
    width: 80%; }
  .footerTextoInfo {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .headerColumnCasino {
    padding: 40px 125px !important; }
  .headerColumnCasinoTitle {
    font-size: 2.5rem; }
  .headerColumnCasinoSubTitle {
    font-size: 1.1rem; }
  .mainCardContentTitle {
    font-size: xxx-large; }
  .mainCardContentDescription {
    font-size: large;
    padding: 15px; }
  .mainCardImgCasino {
    max-height: auto !important; }
  .mainCardImgHotel {
    max-height: auto !important; } }

@media screen and (max-width: 992px) {
  .navLiItemFirst {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #200b33; }
  .navLiItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #200b33;
    border-top: 1.5px solid #ec0000; } }

@media screen and (min-width: 1250px) {
  .cardPromocionImg {
    height: 350px; } }
