@import 'scss/variables';

* {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  color: $color-font1;
}

.header_banner {
  background-image: url('../../assets/images/banner/banner_header.jpg');
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;

  height: 300px;
}

.headerNavResponsive {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: inherit;
}

.headerNavResponsiveBorder {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  border: 2px solid $color-font1;
  padding: 10px;
}

.headerNavResponsiveImgIcon {
  width: 35px;
  height: 35px;

  margin-right: 10px;
}

.headerNavResponsiveImgIconInvertido {
  width: 35px;
  height: 35px;

  margin-left: 5px;
}

.headerNavResponsiveImgIcon {
  background-color: transparent;
}

.headerNavResponsiveImgText {
  font-size: smaller;
  text-decoration: none;
  color: $color-font1;
}

@media screen and (min-width: 768px) {
  div > .row {
    flex-direction: column;
    align-items: stretch;
  }

  .headerNavResponsiveBorder {
    flex-direction: row;
    justify-content: space-between;
  }
}
