@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  background-color: #ec0000;
  color: #fff; }

.footer {
  background-color: transparent !important;
  background-image: url("../../assets/images/footer/footer.jpg");
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px; }

.footerCovid {
  background-color: #fff;
  color: #000;
  padding: 40px; }

.footerCovidTitle {
  background-color: transparent;
  color: #000;
  font-weight: bold; }

.footerDiseñador {
  background-color: transparent !important;
  text-align: center; }

.footerDiseñadorNombre {
  background-color: transparent !important;
  font-weight: bold;
  text-decoration: none;
  color: #000; }

.footerImgContainer {
  background-color: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px; }

.footerImgLogo {
  background-color: transparent !important;
  height: 6em;
  width: 70%; }

.footerRow {
  background-color: transparent !important; }

.footerTextoAvisoCovid {
  background-color: transparent !important;
  padding-left: 0 !important;
  padding-right: 0 !important; }

.footerTextoInfo {
  background-color: transparent !important;
  display: flex;
  flex-direction: column;
  align-items: center; }

.footerTextoInfoTitle {
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px; }

.header_banner {
  background-image: url("../../assets/images/banner/banner_header.jpg");
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  height: 300px; }

.headerColumnLeft {
  background-color: #200b33;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.headerColumnLeft > h5 {
  color: #ec0000;
  font-weight: bold; }

.headerColumnLeftItem {
  background-color: transparent; }

.headerColumnLeftItemTitle {
  font-size: 1.5rem; }

.headerColumnLeftItemSubTitle {
  font-size: 2rem; }

.headerColumnLeftItemDescription {
  font-size: 1rem; }

.row > .headerColumnRight {
  padding-left: 0;
  padding-right: 0; }

.headerNavResponsive {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: inherit; }

.headerNavResponsiveInvertido {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding: inherit; }

.headerNavResponsiveBorder {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 2px solid #fff;
  padding: 10px; }

.headerNavResponsiveImgIcon {
  width: 35px;
  height: 35px;
  margin-right: 10px; }

.headerNavResponsiveImgIconInvertido {
  width: 35px;
  height: 35px;
  margin-left: 10px; }

.headerNavResponsiveImgIcon {
  background-color: transparent; }

.headerNavResponsiveImgText {
  font-size: 1.75rem;
  text-decoration: none;
  color: #fff; }

.mainCardContent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end; }

.mainCardImgCasino {
  min-height: 250px;
  max-height: 280px; }

.mainCardImgHotel {
  min-height: 315px;
  max-height: 350px; }

.mainCardImgFondo {
  background-color: transparent !important; }

.mainCardContentButton {
  background-color: #ec0000 !important;
  font-weight: bold !important;
  width: fit-content;
  align-self: center;
  padding: 7.5px 30px; }

.mainCardContentDescription {
  background-color: rgba(0, 0, 0, 0.75);
  font-size: smaller;
  text-align: justify;
  padding: 10px; }

.mainCardContentTitle {
  -webkit-text-stroke: #000 black;
  background-color: transparent;
  font-size: x-large;
  font-weight: bold;
  display: flex;
  justify-content: center; }

nav {
  max-height: 90px; }

.navImgLogo {
  height: 4.5rem;
  width: 100%;
  padding: 20px; }

.navBgColor {
  background-color: #200b33; }

.navTransparent {
  background-color: transparent; }

.navbar-brand,
.nav-link {
  color: #fff !important; }

.navbar-toggler {
  background-color: #453a4f !important; }

@media screen and (min-width: 576px) {
  .container {
    max-width: 100% !important; }
  .headerNavResponsiveBorder {
    height: 100%;
    justify-content: space-between; }
  .headerColumnLeft {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .headerColumnLeftItemTitle {
    font-size: 1.1rem; }
  .headerColumnLeftItemSubTitle {
    font-size: 1.5rem; }
  .headerColumnLeftItemDescription {
    font-size: 0.9rem; }
  .mainCardContentTitle {
    font-size: xx-large; }
  .mainCardImgCasino {
    max-height: 375px; }
  .mainCardImgHotel {
    max-height: 375px; } }

@media screen and (min-width: 768px) {
  .headerColumns {
    flex-direction: column;
    align-items: stretch; }
  .headerNavResponsiveBorder {
    flex-direction: row;
    justify-content: space-between; }
  .headerNavResponsiveInvertido {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: inherit; }
  .headerNavResponsiveImgIcon {
    width: 4rem;
    height: auto;
    margin-right: 5px; }
  .headerNavResponsiveImgIconInvertido {
    width: 4rem;
    height: auto;
    margin-right: 5px; }
  .headerNavResponsiveImgText {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff; }
  .headerColumnLeft {
    display: flex;
    flex-direction: column;
    padding: 20px; }
  .headerColumnLeftItemTitle {
    font-size: 2rem;
    margin-bottom: 0;
    margin-left: 10px; }
  .headerColumnLeftItemSubTitle {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    margin: 10px 0; }
  .headerColumnLeftItemDescription {
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end; }
  .mainCardContentDescription {
    font-size: medium; }
  .mainCardImgCasino {
    max-height: 450px; }
  .mainCardImgHotel {
    max-height: 450px; } }

@media screen and (min-width: 992px) {
  .mainCardContentTitle {
    font-size: xxx-large; }
  .mainCardContentDescription {
    font-size: large;
    padding: 15px; }
  .mainCardImgCasino {
    max-height: auto !important; }
  .mainCardImgHotel {
    max-height: auto !important; } }

@media screen and (max-width: 992px) {
  .navLiItemFirst {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #200b33; }
  .navLiItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #200b33;
    border-top: 1.5px solid #ec0000; } }
